<script type="javascript/template" id="add_item_template">
  <label for="order_order_lines_attributes_{{timestamp}}_bio_practice">Bio practice</label>
  <input id="order_order_lines_attributes_{{timestamp}}_bio_practice_id" name="order[order_lines_attributes][{{timestamp}}][bio_practice_id]" value="" type="text">

  <input name="order[order_lines_attributes][{{timestamp}}][_destroy]" value="{{timestamp}}" type="hidden">
  <input id="order_order_lines_attributes_{{timestamp}}__destroy" name="order[order_lines_attributes][{{timestamp}}][_destroy]" value="1" type="checkbox">
  
  <label for="order_order_lines_attributes_{{timestamp}}__destroy">Remove</label> <br>
  <br>
  <input id="order_order_lines_attributes_{{timestamp}}_id" name="order[order_lines_attributes][{{timestamp}}][id]" value="" type="hidden">  
</script>
