/*
 *= require foundation_and_overrides
 *= require_self
 *
 */

.twitter-typeahead { width: 100%; }
.tt-dropdown-menu {
  background: white;
  border: 1px solid rgb(153, 153, 153);
  border-top-size: 0;
  box-shadow: 0 1px 3px black;
  margin-top: -16px;
  padding: 5px;
  right: 0 !important;
}

  .tt-is-under-cursor {
    background: rgb(0, 121, 161);
    color: white; 
  }
